@use 'colors' as *;

$btn-transition:
  color 0.05s ease-in-out,
  background-color 0.05s ease-in-out,
  border-color 0.05s ease-in-out,
  box-shadow 0.05s ease-in-out;

$btn-border-radius: 1.5rem;
$btn-border-radius-alt: .5rem;
$focus-ring-opacity: .2;

@use "bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $success: $success,
  $danger: $danger,
  $warning: $warning,
  $info: $info,
  $light: $light,
  $dark: $dark,

  $body-bg: $body-bg,
  $body-color: $secondary,

  $theme-colors: $theme-colors,

  $focus-ring-width: 2px,
  $focus-ring-opacity: $focus-ring-opacity,

  $navbar-brand-font-size: 1rem,
  $navbar-toggler-padding-x: .25rem,
  $navbar-toggler-padding-y: .25rem,
  $navbar-toggler-font-size: 1rem,
  $navbar-toggler-border-radius: 0,

  $navbar-light-brand-color: $body-color,
  $navbar-light-toggler-border-color: transparent,

  $container-padding-x: 2rem,

  $border-color: $secondary,

  $btn-border-radius: $btn-border-radius,
  $btn-font-size: 1rem,
  $btn-padding-x: 1.5rem,
  $btn-padding-y: 0.7rem,
  $btn-transition: $btn-transition,

  $input-bg: transparent,
  $input-padding-x: 1rem,
  $input-padding-y: 0.7rem,
  $form-label-margin-bottom: 0,


);

@for $i from 1 through 10 {
  .w-#{$i}rem { width: #{$i}rem !important; }
  .h-#{$i}rem { height: #{$i}rem !important; }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&display=swap');

:root {
    --bs-body-font-family: "Inter", sans-sefir;
    --bs-body-letter-spacing: 0.05rem;
}

// body {
//     font-family: var(--bs-body-font-family) !important;
//     letter-spacing: var(--bs-body-letter-spacing) !important;
// }

.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 90%;
  letter-spacing: -0.1rem;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// .container {
//     flex: 1 1 auto;
//     min-height: fit-content;
// }

.fit-flex {
    flex: 1 1 auto;
    min-height: fit-content;
}

.Typewriter {
    display: inline;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 0.5rem;
    width: 100%;
}

.btn-top {
    border-radius: $btn-border-radius $btn-border-radius $btn-border-radius-alt $btn-border-radius-alt;
}

.btn-bottom {
    border-radius: $btn-border-radius-alt $btn-border-radius-alt $btn-border-radius $btn-border-radius;
}

// .form-control {
//     background-color: transparent;
// }
// .form-control:focus {
//     background-color: transparent;
// }

// .form-label {
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     padding: 0 0.25rem;
//     top: -1rem;

// }

.rounded-6 {
    border-radius: 2.5rem;
}

form {
    display: contents;
}

/* .form-container {
    display: flex;

}

.form-btns-container {
    display: flex;
} */